@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .w-spacing {
    word-spacing: 10px;
  }
}


*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html, body, #root{
  height: 100%;
}
.swiper{
  position: relative !important;
  overflow-y: auto !important;
  height: 680px;
}
.swiper .swiper-slide{
  height: 80%;
}
.swiper-button-prev, .swiper-button-next{
  margin-top: -100px !important;
  color: #21BF73 !important;
}
.swiper-pagination-bullet{
  width: 80px !important;
  border-radius: 5px !important;
  background: black !important;
  opacity: 0.2 !important;
}
.swiper-pagination-bullet-active{
  opacity: 0.7 !important;
}
.swiper-pagination{
  top: 540px;
  position: absolute !important;
}

.new-scroll::-webkit-scrollbar{
  width: 3px;
  background-color: rgb(179, 179, 179);
  border-radius: 10px;
}
.new-scroll::-webkit-scrollbar-thumb{
  width: 3px;
  background-color: #FD5E53;
  border-radius: 10px;
}